@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

.ignore{
    height: 3.25em;
    /*position: relative;*/
}

.b_1 .main_content {
    /* background-color: #E7E9EC; */
    /* height: auto; */
}
.deviceinfo   .hide-on-small-only {
/*         margin-lefT: -1%; */
         width: 50%; 
}

.deviceinfo   .hide-on-med-and-up {
/*         margin-lefT: -5%; */
}


*, *::before, *::after {
    box-sizing: inherit;
}
.b_1 .n1, .b_1 .n2 {
    text-align: center;
}
.b_1 body {
    color: #001E2C;
    font: 100% proxima-nova,Helvetica,Arial,sans-serif;
}
.b_1 .sub_content{
    position: relative;
    width: 100%;
    padding: 1px ;
    border-bottom: 1px solid #B6BDBE;
}
.b_1 .sub_content h3{
    margin-left: 5px;
    
}
.b_1 .sub_content i{
    line-height: 1;
    margin-right: 5px;
}



/*

.ignore{
    height: 3.25em;
    position: relative;
} */

.b_1 section {
    display: block;
   
    background-color: #E7E9EC;

}

.b_1 #wrap {
    /* border-bottom: 1px solid #B6BDBE; */
    border-bottom: 1px solid #B6BDBE;
    /* margin-bottom: 3px; */
    /* padding-top: 2px; */
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    /* padding-bottom: 25px; */
    position: relative;
    /* margin-top: 1px; */
}

.b_1 .list_style_buttons {
    position: absolute;
    right: 0px;
}

.b_1 #wrap h1 {
    margin-left: 20px;
}

/*.b_1 h1 {
    font-size: 1.5rem;
    line-height: 10%;
    margin: 2.1rem 0px 1.68rem 200px;
    font-weight: bold;
    text-align: left;
}*/

.b_1 h3 {
    line-height: normal;
    margin: 1.46rem 0px 1.146re;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    /* padding-top: 20px; */
    text-align: left;
}

.b_1 h4 {
    font-size: 1.2rem;
    line-height: 110%;
    margin: .1rem 0px 0.12rem;
    text-align: left;
    display: block;
}

.b_1 .n2 i {
    float: left;
    max-height: 1.25em;
    text-align: center;
}

/*.b_1 .button {
    float: right;
    color: #fff;
    background-color: #863d8d;
    text-shadow: -1px 1px #863d8d;
    height: 2.5em;
    display: inline-block;
    margin: 0 0 10 0;
    padding: 15px 25px; 
    text-align: center;
    font-size: 18px;
    border: none;
    width: 10em;
    float: right;
    bottom: 0%;
    box-sizing: border-box;
    float: right;
    position: relative; 
    right: 0px;
    margin: 0px; 
    top: -190px;
    width: 80px;
    height: 70px;
    margin-right: 10px; 
    z-index: 15; 
    border-radius: 3px 0px 0px 3px; 
    top: 0; 
    right: 0; 
    
}*/
.b_1  .buttonClass  {
    /* float: right; */
    color: #fff;
    /* background-color: #863d8d; */
    text-shadow: -1px 1px #863d8d;
   
}

.b_1 .waves-effect  {/*.b_1.Now.waves-effect waves-light  btn*/
    
    color: #fff;
    background-color: #863d8d;
    text-shadow: -1px 1px #863d8d;
    /* height: 2.5em; */
    /* display: inline-block; */
    /*    margin: 0 0 0 0;*/
    /* padding: 2px 2px; */
    text-align: center;
    font-size: 15px;
    /* border: none; */
    /* margin-bottom: 20px; */
    /* margin-right: -30px; */
    }

.b_1 .Later waves-effect waves-light btn  {
    width: 100%;
    top: 420px;
    position: fixed;
    margin-top: 10px;
    display: inline-block;

    /*    width: 8%;*/
    color: #fff;
    background-color: #863d8d;
    text-shadow: -1px 1px #863d8d; 
    height: 1.5em;

    /*    margin: 0 0 0 0;*/
    padding: 2px 20px;
    text-align: center;
    font-size: 15px; 
    border: none;
}
/*.deviceinfo  .btn {
     color: #B159B9
      margin-bottom: 10px; 
}*/

.b_1 .row {
    /* margin-bottom: 0px; */
    float: center;
    /* height: 38%; */
}

h4.ng-binding {
    color: black;
}


h3.ng-binding {
    color: black;
}

h1.ng-binding {
    color: #444;
}

.b_1 ul{
    padding: 0;
    list-style: none;
    font-size: .92857143em;
    /* padding: 0.3em 2%; */
}

/*a:hover{
    color: black;
}*/
.b_1 .img {
    width: 100px;
}

.b_1 .ifs_banner{
    padding: 2em 5%;
    height: auto;
}
.ifs_banner img{
    height: auto;
    width: 100%;
}
.b_1 .devicelist {
    /* background: white; */
    width: 100%;
    min-width: 290px;
    /* max-width: 550px; */
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 0 0 20px 20px;
    opacity: .95;
    z-index: 10;
    height: 100%;
}

.b_1 .devicelist ul {
    margin: 0;
    padding: 0;
    background: #FDF6E3;
}
with animation 
.b_1 .devicelist li {

    border-bottom: 1px dotted black;
    opacity: .9;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.b_1 .devicelist a {
    display: block;
    text-decoration: none;
}

/*with animation */
.b_1 .devicelist li:hover {
    background: #FDF6E3;
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.b_1 .cf {/*.b_1 li.device.cf.ng-scope*/
    /* margin: 0; */
    /* padding: 0; */
    /* padding-bottom: 10px; */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    padding-top: px;
    /* border-bottom: 2px; */
    /* padding-bottom: 5px; */
    /* width: 705px; */
    /* height: auto; */
}

.b_1 .device img {
    /* display: block; */
    /* float: right; */
    width: 120px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin-right: 150px;
    margin-bottom: 20px;
    /* margin-top: 20px; */
}

.b_1 .device info {
    margin: 0;
    padding: 10px 10px 0 10px;

    opacity: .9;
    -webkit-transition: all 0.3s ;
    display: block;
    float: left;
   
}

.device:last-child {
    border-bottom:none;
}

.deviceinfo {
    font-size: 0.9em;
    line-height: 200%;
    /* background: #EEE8D5; */
    color: #0F4150;
    width: 100%;
    /* min-width: 320px; */
    /* max-width: 620px; */
    /* margin: 0 auto; */
    /* margin-top: 30px; */
    margin-bottom: 15px;
    /* padding: 0px 30px; */
    border-radius: 10px;
    z-index: 20;
    text-align: center;
}

.deviceinfo h1{
    margin-top: 1.5rem;
    font-size: 2.5em;
    margin-bottom: 0;
    font-weight: bold;
}

.deviceinfo h2{
    font-size: 1.92rem;
    /*    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;*/
}

.deviceinfo h3{
    font-size: 1.56rem;
/*    float: left;*/
    /*    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;*/
}

.deviceinfo img {
    /* width: 30%; */
    border-radius: 10px;
    margin-top: 90px;
}


.deviceinfo .row {
    margin-bottom: 10px;
    /* margin-lefT: -50%; */
    background-color: #fafafa;
    height: 75px;
    width: 70%;
}

.deviceinfo .row .col {
 padding-top: 0px;
 /* padding-right: 0.75rem
; */
 /* padding-left: 0.75rem; */
}

.b_1 .main_content{
    background-color: #E7E9EC;
    /* height: inherit; */
}

.sub_content {
    position: relative;
    margin: 0 0 1em;
    float: right;
    width: 100%;
    /* z-index: 999; */
}
.sub_content h2 {
    float: left;
    margin-left: 20px;
    font-size: 1.5em;
}

/*more animation */

.b_1.device.ng-enter.ng-enter-active,
.b_1.device.ng-leave {
    opacity: 1;
    height: 80px;
    overflow: hidden;
}

.b_1.device.ng-leave.ng-leave-active,
.b_1.device.ng-enter {
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.b_1 .row:after {
     content: ""; 
    display: table;
    clear: both;
}

.b_1 .clear {
    clear: both;
}

/*devide 2 into 1*/
@media screen and (max-width: 480px) {

}

@media screen and (max-width: 768px) {

    .ifs_banner .deviceinfo {
        padding:.8em 5%;
        width: 100%;
    }
    .devicelist {
        width: 80%;
        max-width: 100%;
    }


}
/*768, 480*//*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2015, 11:35:09 AM
    Author     : nedilk
*/
